.flex-container {
    display: flex;
    flex-direction: column;
  }

    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    .header {
        height: 80px ;
    }
    .empty {
        height: 0;
        width: 0;
    }
    .header__logo {
        vertical-align: top;
        height: 100px;
        width: 100px;
    }
    header {    
        margin: 45px 80px 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .header__nav ul{
        display: flex;
        list-style: none;
        gap: 80px;
    }
    .header__nav ul a {
        font-family: 'Futura New';
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 20px;
        color: #C3B9B5;
        text-decoration: none;
    }

    .middle_flex{
        display: flex;
        flex-direction: row;
    }
    
    .menu{
        margin: 0px 60px 0px ;       
        width: 33%;
        max-width: 450px
        background-color: #FFFEFE;
        padding-left: 10%;
        padding-right: 100px;
    }

    .menu h1{

        font-family: 'SchoolBook', serif;
        font-style: normal;
        font-weight: 400;
        font-size: 45px;
        line-height: 90px;
        color: #080606;
        margin-bottom: 100px;
    }

    .pages{
        text-align: right;
        word-spacing: 16px ;
        font-family: 'Futura New', serif;
        font-style: normal;
        font-size: 20px;
        line-height: 80px;
        color: #C3B9B5;
        margin: 20px;
    }

    .content{
        max-width: 1000px;
        width: 67%;
        background-color: #FFFEFE;
        padding-left: 20px ;
        padding-right: auto;
    }

    

    .pages b{
        color: #080606;
    }



    .block{
        display: flex;
        flex-direction: row;
        margin-top: 10px;
        margin-bottom: 10px ;
        margin-right: auto;
        padding:24px;
        height: auto;        
        background: #FFFFFF;
        box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
        border-radius: 20px;
        text-decoration: none;
        transition: 0.1s;
        float: left; 
    }

    .block:hover{
        position: relative;
        z-index: 1;
        border: 1px solid #FFC59E;;
        transform: scale(1.1);
    }   

    .block_img{
        width: 30%;
        align-items: center;
        padding-right: 20px;
    }
    
    .block_img img{
        width: 90%;
        align-items: center;
    }


    .block_content{
        width: 70%;
        align-items: left;
        display: flex;
        flex-direction: column;
        text-align: left;
        
    }

    .block_content h1{
        font-family: 'SchoolBook', serif;
        font-style: normal;
        font-weight: 400;
        font-size: 30px;
        line-height: 40px;
        margin-bottom: 5px;
        color: #080606;

    }
    .block_content h2{
        font-family: 'Futura New', serif;
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 15px;
        margin-bottom: 10px;
        color: #C3B9B5;

    }

    .block_content p{
        width: auto;

        font-family: 'Futura New', serif;
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 25px;
        color: #59443F;

        margin: 0; /* Убираем внешний отступ */
        -webkit-line-clamp: 4; /* Число отображаемых строк */
        display: -webkit-box; /* Включаем флексбоксы */
        -webkit-box-orient: vertical; /* Вертикальная ориентация */
        overflow: hidden; /* Обрезаем всё за пределами блока */
    }

    .block_old{
        display: flex;
        flex-direction: row;
        margin-top: 10px;
        margin-bottom: 10px ;
        margin-right: auto;
        padding:24px;
        height: auto;        
        background: #FFFFFF;
        box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
        border-radius: 20px;
        text-decoration: none;
        transition: 0.1s;
        float: left; 
        opacity: 0.55;
    }

    .block_content h3{
        font-family: 'Futura New', serif;
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 15px;
        margin-bottom: 10px;
        color: black;

    }


    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    footer {
        background: #59443F;
    }
    .footer__container {
        padding: 25px;
        max-width: 1506px;
        margin: auto;
        width: 100%;
        display: grid;
        grid-template-columns: 0.8fr 0.8fr 0.7fr 1.1fr 1.6fr;
        grid-template-rows: 0.6fr 0fr 1.0fr;
        gap: 0px 0px;
        grid-template-areas:
        "logo logo logo logo apps"
        "nav nav nav nav links"
        "nav nav nav nav email";
    }
    .footer__logo {
        grid-area: logo;
    }
    footer nav {
        margin-top: 20px;
        grid-area: nav;
        display: flex;
        gap: 70px;

    }
    footer nav ul {
        list-style: none;
        max-width: 200px;
    }
    footer nav ul a {
        font-family: 'Futura New', serif;
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 30px;
        /* or 150% */
        text-decoration: none;


        color: #FFFFFF;

    }

    .footer__apps {

        grid-area: apps;
        display: flex;
        gap: 13px;
        align-items: center;
    }
    .footer__links {
        grid-area: links;
        display: flex;
        align-items: center;
        gap: 50px;
    }
    .footer__emails {
        margin-top: 20px;
        grid-area: email;
        display: flex;
        flex-direction: column;
        font-family: 'Futura New', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 30px;
        /* or 150% */


        color: #FFFFFF;

    }



