*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
footer {
    background: #59443F;
}
.footer__container {
    padding: 25px;
    max-width: 1506px;
    margin: auto;
    width: 100%;
    display: grid;
    grid-template-columns: 0.8fr 0.8fr 0.7fr 1.1fr 1.6fr;
    grid-template-rows: 0.6fr 0fr 1.0fr;
    gap: 0px 0px;
    grid-template-areas:
    "logo logo logo logo apps"
    "nav nav nav nav links"
    "nav nav nav nav email";
}
.footer__logo {
    grid-area: logo;
}
footer nav {
    margin-top: 20px;
    grid-area: nav;
    display: flex;
    gap: 70px;

}
footer nav ul {
    list-style: none;
    max-width: 200px;
}
footer nav ul a {
    font-family: 'Futura New', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    /* or 150% */
    text-decoration: none;


    color: #FFFFFF;

}

.footer__apps {

    grid-area: apps;
    display: flex;
    gap: 13px;
    align-items: center;
}
.footer__links {
    grid-area: links;
    display: flex;
    align-items: center;
    gap: 50px;
}
.footer__emails {
    margin-top: 20px;
    grid-area: email;
    display: flex;
    flex-direction: column;
    font-family: 'Futura New', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    /* or 150% */


    color: #FFFFFF;

}