<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="./footer.css">
</head>
<body>
<footer>
    <div class="footer__container">
        <img src="./footer-images/logo.png" alt="" class="footer__logo">
        <nav>
            <ul>
                <li><a href="#">Главная</a></li>
                <li><a href="#">Услуги и цены</a></li>
                <li><a href="#">Наши специалисты</a></li>
            </ul>
            <ul>
                <li><a href="#">Контакты</a></li>
                <li><a href="#">Новости и акции</a></li>
            </ul>
            <ul>
                <li><a href="#">Политика конфиденциальности в отношении обработки персональных данных</a></li>
            </ul>
        </nav>
        <div class="footer__apps">
            <a class="footer__app_IOS" href="#">
                <img src="./footer-images/IOS.png" alt="">
            </a>
            <a class="footer__app_android" href="#">
                <img src="./footer-images/android.png" alt="">
            </a>
        </div>
        <div class="footer__links">
            <a href="#"><img src="./footer-images/vk.png" alt=""></a>
            <a href="#"><img src="./footer-images/youtube.png" alt=""></a>
        </div>
        <div class="footer__emails">
            <span>aibolit34.ru</span>
            <span>aibolit34@gmail.com</span>
        </div>
    </div>
</footer>
</body>
</html>